<div>
    <div class="container-fluid" style="background-color: aliceblue;">
        <div class="row">
            <div class="col-md-6 mt-5">
                <a href="/admin/proinfo" class="btn btn-outline-warning mt-5 text-dark" style="width: 100%;">Product
                    Information...</a>
            </div>
            <div class="col-md-6 mt-5">
                <a href="/admin/users" class="btn btn-outline-danger mt-5 text-dark" style="width: 100%;">Users
                    Information...</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mt-2">
                <a href="/admin/users" class="btn btn-success mt-5 text-dark" style="width: 100%;">Shope Users</a>
            </div>
            <div class="col-md-6 mt-2">
                <a href="/admin/cusers" class="btn btn-info mt-5 text-dark" style="width: 100%;">Client Users</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">

                <div class="p-5">
                    <h1 class="text-center text-info"><b><i>Shope Users...</i></b></h1>


                    <table class="table text-center mt-4">
                        <thead>
                            <tr>
                                <th scope="col">NO.</th>
                                <th scope="col">Shope Name</th>
                                <th scope="col">Shope Location</th>
                                <th scope="col">Shope Mail address</th>
                               
                                <th scope="col">Delete Shope user</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each users}}
                            <tr>

                                <td>{{@index}}</td>
                                <td>{{this.sname}}</td>
                                <td>{{this.slocation}}</td>
                                <td>{{this.semail}}</td>
                            
                                <td>
                                    <a href="/admin/sdelete?id={{this._id}}" class="btn btn-danger mt-5"
                                        onclick="return confirm('Are you sure to delete this user???')">Delete</a>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>