<div class="container-fluid"
    style="background-image: linear-gradient(to bottom, #000000, #121112, #1e1c1c, #2a2727, #363232);">
    <div class="row">
        <div class="col-md-12  mt-5 pt-5">
            <h1 class="text-center text-light" style="text-shadow: 2px 2px #FF0000;">
                <b><i>{{proInfo.pro.proinfo.pname}}</i></b>
            </h1>
        </div>
        <div class="col-md-6">
            <div class="mt-3 p-5 text-cenetr" style="">
                <img class="img-fluid" src="/shope-image/{{proInfo.pro._id}}.png"
                    style="width: 90%; height: 50em; border-radius: 12px; box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;"
                    alt="">
            </div>
        </div>
        <div class="col-md-6 ">
            <div class="mt-5 text-light">

                <h3 class="mt-5"><b>Product Type &emsp;: &emsp;{{proInfo.pro.proinfo.ptype}}</b></h3>
                <h3 class="mt-5"><b>Product Brand &emsp;: &emsp;{{proInfo.pro.proinfo.pbrand}}</b></h3>
                <h3 class="mt-5"><b>Product ModelNumber &emsp;: &emsp;{{proInfo.pro.proinfo.mnumber}}</b></h3>
                <h3 class="mt-5"><b>Product waranty &emsp;: &emsp;{{proInfo.pro.proinfo.wyear}}&emsp;(year)</b></h3>
                <h3 class="mt-5"><b>Product Price &emsp;: &emsp;{{proInfo.pro.proinfo.pprice}}/-</b></h3>

                <div class="mt-5 text-center">
                    <div class=" text-white p-5"
                        style="width: 90%; border-radius: 20px;background-image: radial-gradient(circle, #000000, #121112, #1e1c1c, #2a2727, #363232);box-shadow: rgba(253, 252, 252, 0.45) 0px 25px 20px -20px;">
                        <h2 class=""><b><i>SHOP DETAILS</i></b></h2>
                        <h3 class="pt-4"><b>Shop Name &emsp;: &emsp;{{proInfo.shope.sname}}</b></h3>
                        <h3 class="pt-4"><b>Shop Location &emsp;: &emsp;{{proInfo.shope.slocation}}</b></h3>
                        <h3 class="pt-4"><b>Shop Email Address &emsp;: &emsp;<a class="text-info"
                                    href="https://mail.google.com/mail/u/0/#sent{{proInfo.shope.semail}}">{{proInfo.shope.semail}}</a></b>
                        </h3>
                        <h3 class="pt-4"><b>Shope Phone Number &emsp;: &emsp;+91 {{proInfo.shope.ph}}</b></h3>
                    </div>
                </div>
                <a href="/bookpro?proid={{proInfo.pro._id}}&shid={{proInfo.shope._id}}" class="btn btn-outline-warning m-3  text-light"
                    style="width: 88%;">Book Product</a>

            </div>
        </div>
    </div>
</div>